* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.container {
  /* width: 100%; */
  /* height: 500px; */
  /* background-color: rgb(162, 231, 182); */
  /* margin: auto; */
  display: unset;
}

nav ul li {
  display: inline-block;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #32495b;
}

/* ! General Rules End */
/* ! Buttons */
.orange {
  border: .5px solid #fe775a;
}

.btn {
  padding: 10px;
  border-radius: 5px;
}

.orangebcg {
  background-color: #fe775a;
}

.big {
  padding: 20px;
  border-radius: 5px;
}

.btnw:hover {
  background-color: #ffbcac;
}

.btno:hover {
  background-color: #fff8f6;
}

.fx {
  transition: 0.15s color ease-out, 0.15s background-color ease-out, 0.15s border-color ease-out;
}

.btnw {
  color: white;
}

.btno {
  color: #fe775a;
}

/* ! Header Start */
header {
  width: 100%;
  height: 900px;
  /* background-color: #fff4ee; */
  background-color: #fff2ee;
  margin: auto;
  background-image: url(../img/jumbotron.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  /* background-size: 57%; */
  position: relative;
  /* test */
  background-size: 65%;
}

/* ! Navigation-Bar Full TOP */
.nav-full-top-bar {
  background-color: #f4f9fd;
  margin: auto;
  width: 100%;
  height: 100px;
  /* Fixed Settings */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  border-bottom: 1px solid #33475b;
}

/* ! Chat Bot */
.chatbot-box {
  /* background-color: rgba(126, 114, 219, .2); */
  height: 155px;
  width: 250px;
  right: .8%;
  /* bottom: 10%; */
  /* test */
  bottom: 18%;
  /* test end */
  z-index: 1;
  position: fixed;
}

.botface {
  height: 50px;
  margin-top: 25px;
  /* position: absolute; */
  /* background-color: rgb(230, 194, 142); */
  width: 50px;
  margin: auto;
  line-height: 25px;
  position: relative;
}

.botface img {
  height: 100%;
  position: absolute;
  top: 50%;
}

.chatbot-text {
  background-color: white;
  height: 105px;
  border-radius: 5px;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);
}

.chatbot-space-for-x {
  height: 30px;
  /* background-color: rgb(164, 130, 217); */
  text-align: right;
  line-height: 30px;
  padding-right: 15px;
  color: #33475b;
}

.chatbot-space-for-text {
  /* background-color: rgb(104, 138, 219); */
  text-align: left;
  height: 65px;
  padding-left: 15px;
  padding-right: 15px;
  line-height: 25px;
  font-size: 15px;
  color: #33475b;
  font-weight: 500;
}

.chat-icon {
  /* background-color: rgba(126, 114, 219, .4); */
  height: 70px;
  width: 70px;
  right: .8%;
  bottom: 10%;
  z-index: 1;
  position: fixed;
  border-radius: 50%;
  background-color: #425b76;
  box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.25);
}

.chat-icon-image {
  text-align: center;
  height: 70px;
  line-height: 80px;
}

.fa-comments {
  color: white;
  text-align: center;
  font-size: 30px;
}

/* ! Chat Bot End */
/* ! Nav-Top */
.nav-top {
  margin: auto;
  /* background-color: rgb(230, 103, 80); */
  width: 80%;
  height: 100px;
}

.nav-top-left {
  width: 50%;
  /* background-color: rgb(116, 55, 203); */
  height: 100px;
  line-height: 100px;
  text-align: left;
}

.nav-top-left-lang, .nav-top-left-bar, .nav-top-left-contact {
  display: inline-block;
}

.nav-top-left-lang, .nav-top-left-bar {
  /* border-right: 1px solid black; */
  margin-right: 25px;
}

.nav-top-right {
  width: 50%;
  /* background-color: rgb(66, 20, 131); */
  height: 100px;
  line-height: 100px;
  text-align: right;
}

.nav-top-right ul li {
  padding-left: 30px;
}

.nav-top-right .btnw {
  color: white;
}

.nav-top-right i {
  color: #00a5be;
}

/* ! Navigation-Bar Full BOTTOM */
.nav-full-bottom-bar {
  background-color: #ffffff;
  /* margin: auto; */
  width: 100%;
  height: 100px;
  /* Fixed Settings */
  /* position: sticky; */
  z-index: 1;
  top: 0;
  background-color: #fff;
  margin-top: 100px;
}

/* ! Nav-Bottom */
.nav-bottom {
  margin: auto;
  /* background-color: rgb(236, 85, 173); */
  width: 80%;
  height: 100px;
}

.nav-bottom-left {
  width: 50%;
  /* background-color: rgb(52, 118, 128); */
  height: 100px;
  line-height: 100px;
}

.nav-bottom-right ul li {
  padding-left: 10px;
}

.nav-bottom-right {
  width: 50%;
  /* background-color: rgb(61, 170, 189); */
  height: 100px;
  line-height: 100px;
  text-align: right;
}

/* ! Jumbotron */
/* ! testing shadow */
.jumboshadow {
  /* background-color: rgba(186, 163, 227, 0.9); */
  height: 200px;
  width: 100%;
  position: absolute;
  bottom: 600px;
  /* top: -500px; */
  box-shadow: inset 0 10px 8px -0.5px rgba(0, 0, 0, 0.1);
  /* width: auto; */
}

.jumbotron {
  height: 700px;
  margin: auto;
  width: 80%;
  /* background-color: rgb(106, 115, 222); */
}

.jumbo-info {
  width: 25%;
  margin-top: 50px;
}

.jumbotron h1, p, h3 {
  color: #33475b;
}

.jumbotron h1 {
  font-size: 350%;
  font-weight: bold;
  margin-bottom: 50px;
}

.jumbotron p {
  font-size: 110%;
  letter-spacing: .5px;
  margin-bottom: 50px;
  /* font-weight: 500; */
}

.jumbotron a {
  margin-bottom: 50px;
}

.jumbotron h3 {
  margin-top: 50px;
}

/* ! earth Strip */
.earth-strip {
  background-color: #afebe4;
  height: 96px;
  /* height: 50px; */
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  border-top: 3px solid #33475b;
  border-bottom: 3px solid #33475b;
}

/* ! Main */
main {
  /* height: 1000px; */
  /* width: auto; */
  background-color: #f4f9fd;
  margin: auto;
  margin-bottom: 0;
  /* testing */
}

.powerful {
  /* width: 100%; */
  /* height: 250px; */
  margin: auto;
  padding-top: 100px;
  padding-bottom: 50px;
  line-height: 26px
    /* padding: 50%; */
}

.power {
  line-height: 26px;
  padding: 0 32px;
  margin: auto;
}

.power-slogan {
  text-align: center;
  width: 800px;
  margin: 0 auto;
}

.power-slogan img {
  width: 30%;
  line-height: 26px;
}

.power-slogan h2 {
  line-height: 42px;
  text-align: center;
  margin-bottom: 20px;
  color: #33475b;
  font-size: 32px;
  font-weight: 600;
}

.power-slogan p {
  line-height: 26px;
  font-size: 16px;
  margin-top: 16px;
  text-align: center;
}

/* ! start products */
.products {
  width: 80%;
  margin-bottom: 1400px;
  margin: auto;
  /* background-color: rgb(231, 217, 160); */
  height: 1300px;
  /* test */
}

.fstrow-box {
  width: 100%;
  margin: 0 auto;
  margin-bottom: 32px;
  padding: 32px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0 0 11px #eaf0f6;
  height: 437px;
  /* background-color: rgb(136, 181, 222); */
}

.fst-col {
  text-align: center;
  width: 30%;
  padding: 0 9%;
  line-height: 26px;
  height: 250px;
  /* background-color: rgb(221, 111, 130); */
}

.fst-col img {
  width: 100%;
  height: 150px;
  line-height: 26px;
}

.learnmorebtn {
  /* padding-top: 20px; */
  /* line-height: 26px; */
  /* padding: 10px; */
}

.learnmorebtn a {
  padding: 20px 45px;
}

.snd-col {
  text-align: center;
  width: 50%;
  padding: 0 9%;
  line-height: 26px;
  height: 250px;
  margin-top: 50px;
  /* background-color: rgb(76, 198, 125); */
}

.snd-col h4 {
  text-align: left;
  margin: 11 0;
  line-height: 30px;
  font-weight: bolder;
  padding-bottom: 20px;
  font-size: 30px;
  color: #33475b;
}

.snd-col-info {
  line-height: 26px;
  text-align: left;
  margin-right: -210px;
}

.snd-col-info p {
  font-size: 15px;
  margin-top: 14px;
  margin-bottom: 14px;
  line-height: 32px;
  color: #33475b;
  font-weight: bolder;
}

.snd-col-info-feat {
  line-height: 26px;
}

.snd-col-info-feat p {
  text-align: left;
  margin-top: 26px;
  margin-bottom: 26px;
  text-transform: uppercase;
  font-size: 16px;
  /* font-weight: 600; */
  font-weight: bolder;
  position: relative;
}

.snd-col-info-feat p::after {
  content: "";
  position: absolute;
  height: 5px;
  margin-left: 40px;
  border-bottom: 2px solid #a1a6ab;
  top: 10px;
  width: 80%;
  /* font-weight: bolder; */
}

.snd-col-info-feat ul li {
  float: left;
  margin-right: 20px;
  font-size: 14px;
  margin-bottom: 5px;
  font-weight: bold;
  line-height: 21px;
  color: #33475b;
}

.snd-col-info-feat ul li .fas {
  color: #ff7a59;
}

.sndrow-fst-col {
  width: 31%;
  background-color: #ffffff;
  margin-bottom: 32px;
  padding: 32px;
  border-radius: 4px;
  position: relative;
  box-shadow: 0 0 11px #eaf0f6;
}

.sndrow-fst-col-sx-logo img {
  width: 100%;
  height: 150px;
}

.sndrow-fst-col-sx-info, .sndrow-fst-col-sx-bottom-info {
  color: #33475b;
}

.sndrow-fst-col-sx-info h4 {
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  line-height: 30px;
  margin: 50px 0 0;
  margin-bottom: -80px;
}

.sndrow-fst-col-sx-bottom-info p {
  font-size: 14px;
  margin-top: 14px;
  margin-bottom: 130px;
  padding: 0 32px;
  text-align: center;
  font-weight: bold;
  line-height: 30px;
}

.sndrow-fst-col-sx-bottom-info-bottom {
  color: #33475b;
}

/* .sndrow-fst-col-sx-info{
  margin-top: -30px;
  padding-top: 15px;
} */
.sndrow-fst-col-sx-bottom-info-bottom p {
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 40px;
  position: relative;
  font-size: 13px;
  text-align: center;
  padding-top: 26px;
  padding-left: 8px;
  padding-right: 8px;
  border-top: 1px solid #e0e6ed;
}

.learnmorebtn {
  margin-top: 70px;
}

.sndrow-fst-col-sx-bottom-info-bottom {
  margin-top: -70px;
  /* margin-bottom: 0px; */
}

.sndrow-fst-col-sx-bottom-info-bottom ul li .fas {
  color: #ff7a59;
  margin-right: 20px;
}

.learnmorecolsx {
  text-align: center;
  padding-top: 20px;
}

.sndrow-fst-col-centr {
  width: 31%;
  background-color: #ffffff;
  padding: 32px;
  border-radius: 4px;
  position: relative;
  box-shadow: 0 0 11px #eaf0f6;
  margin-left: 3.5%;
  margin-right: 3.5%;
}

/* .btn[type="Moreks"]{
font-size: 40px;
} */
/* ! learngrow Row */
.learngrow {
  height: 975px;
  background-image: linear-gradient(to right, #00a4bd, #00bda5);
}

/* ! learngrow rowone */
.learngrow-rowone {
  /* background-color: rgba(235, 152, 171, 0.5); */
  width: 100%;
  height: 300px;
}

.learngrow-rowone h2 {
  text-align: center;
  color: white;
  font-size: 40px;
  padding-top: 50px;
  padding-right: 200px;
  padding-left: 200px;
}

.learngrow-rowone p {
  text-align: center;
  color: white;
  font-size: 20px;
  padding-top: 50px;
  padding-right: 140px;
  padding-left: 140px;
  line-height: 30px;
  font-weight: 510;
  margin-bottom: 50px;
}

.learngrow-row-two {
  width: 80%;
  height: 510px;
  margin: auto;
  margin-top: 50px;
  /* background-color: rgba(126, 214, 101, .5) */
}

.rowonecol-one {
  width: calc(100% / 4);
  /* background-color: red; */
  height: 50%;
}

.community-logo {
  width: 100%;
  height: calc(100% / 3);
  text-align: center;
}

.community-logo img {
  height: 50%;
  margin-top: 10px;
}

.community-numb {
  width: 100%;
  height: calc(100% / 3);
  text-align: center;
  position: relative;
}

.community-numb h3 {
  font-weight: bolder;
  font-size: 48px;
  color: white;
}

.community-numb h3::after {
  content: "+";
  display: inline-block;
  font-size: 24px;
  color: white;
  position: absolute;
  bottom: 45%;
  left: 61%;
  font-weight: bolder;
}

.eightplusmove h3::after {
  content: "+";
  display: inline-block;
  font-size: 24px;
  color: white;
  position: absolute;
  bottom: 45%;
  left: 58%;
  font-weight: bolder;
}

.twoplusmove h3::after {
  content: "+";
  display: inline-block;
  font-size: 24px;
  color: white;
  position: absolute;
  bottom: 45%;
  left: 63%;
  font-weight: bolder;
}

.threeplusmove h3::after {
  content: "+";
  display: inline-block;
  font-size: 24px;
  color: white;
  position: absolute;
  bottom: 45%;
  left: 63%;
  font-weight: bolder;
}

.sixplusmove h3::after {
  content: "+";
  display: inline-block;
  font-size: 24px;
  color: white;
  position: absolute;
  bottom: 45%;
  left: 55%;
  font-weight: bolder;
}

.sevenplusmove h3::after {
  content: "+";
  display: inline-block;
  font-size: 24px;
  color: white;
  position: absolute;
  bottom: 45%;
  left: 63%;
  font-weight: bolder;
}

.community-descr {
  width: 100%;
  height: calc(100% / 3);
  text-align: center;
}

.community-descr p {
  text-align: center;
  color: white;
  font-weight: 500;
  font-size: 16px;
}

.card-one, .card-two, .card-three {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
}

.card-five, .card-six, .card-seven {
  border-right: 1px solid white;
}

.card-for {
  border-bottom: 1px solid white;
}

.eightcrddown, .sevencrddown, .sixcrddown, .fivecrddown {
  width: 100%;
  height: 100%;
  margin-top: 50px;
}

/* ! learngrow Row */
.startgrow {
  /* height: 900px; */
  background-color: white;
}

/* ! Startgrow - FirtRow */
.startgrow-firstrow {
  height: 480px;
  /* height: 550px; */
  width: 80%;
  margin: auto;
  /* background-color: rgb(183, 217, 78); */
}

.startgrow-sxcol {
  /* background-color: rgba(172, 154, 221, .5); */
  height: 100%;
  width: 25%;
}

.startgrow-sx-n {
  height: 50%;
  width: 100%;
}

.startgrow-sxcol-n h2 {
  padding-top: 75px;
  line-height: 50px;
  font-weight: bolder;
  color: #33475b;
  font-size: 60px;
  text-align: center;
}

.startgrow-sxcol-descr p {
  text-align: left;
  color: #33475b;
  line-height: 40px;
  padding-left: 160px;
  padding-top: 50px;
  padding-right: 80px;
  font-weight: 500;
  font-size: 20px;
  /* padding-left:  */
}

.startgrow-sxcol-descr-b {
  font-weight: bolder;
}

.startgrow-dxcol {
  /* background-color: rgb(235, 173, 100); */
  height: 100%;
  width: 75%;
}

.startgrow-dxcol-box {
  /* background-color: rgb(193, 231, 102); */
  height: 75%;
  width: 65%;
  margin: auto;
  margin-top: 50px;
  margin-left: 280px;
}

.startgrow-dxcol-box-card {
  width: calc(100% / 4);
  height: 50%;
  /* background-color: rgb(166, 212, 108); */
}

.startgrow-dxcol-box-card img {
  width: 85%;
}

[alt~=Trello] {
  margin-top: 30px;
}

[alt~=G2] {
  margin-top: 10px;
}

[alt~=VSRGB] {
  margin-top: 10px;
}

[alt~=Soundcloud] {
  margin-top: 15px;
}

[alt~=Classpass] {
  margin-top: -15px;
}

[alt~=VmWare] {
  margin-top: -5px;
}

/* ! Startgrow - SecondRow */
.startgrow-secondrow {
  height: 720px;
  margin: auto;
  width: 80%;
  position: relative;
  /* background-color: rgb(208, 191, 142); */
}

.morehum {
  width: 50%;
  height: 100%;
  /* background-color: rgb(168, 181, 226); */
}

.jumboh2 {
  margin-right: -500px;
}

.jumbop {
  font-weight: bolder;
  line-height: 30px;
  margin-right: -300px;
  font-size: 150%;
  padding-bottom: 50px;
}

.jumboh3 {
  margin-right: -300px;
  padding-top: 50px;
  font-size: 15px;
}

.btntron {
  padding: 20px 50px;
}

.woman {
  height: 100%;
  width: 50%;
  top: -5;
}

.woman img {
  position: absolute;
  width: 29%;
  bottom: 10%;
  /* left: 75%; */
  left: 65%;
}

/* ! Footer Start */
footer {
  background-color: #32495b;
  height: 900px;
  width: 100%;
}

.links {
  /* background-color: rgb(143, 203, 232); */
  height: 70%;
  width: 80%;
  margin: auto;
}

.links-box {
  height: 100%;
  width: calc(100% / 4);
  /* width: 25%; */
  /* background-color: rgb(230, 188, 117); */
}

.links-box ul {
  padding-top: 45px;
  color: #dadee0;
}

.links-box h2 {
  padding-bottom: 30px;
  font-size: 25px;
  font-weight: bolder;
}

.links-box a {
  color: #dadee0;
  display: block;
  padding-bottom: 30px;
  font-size: 18px;
  font-weight: 500;
}

.links-box a:hover {
  color: #7fd1de;
}

.btnwht {
  padding-top: 25px;
  /* padding-bottom: 30px; */
  text-align: center;
  border-radius: 5px;
  background-color: #dadee0;
  /* margin-right: -50px; */
  margin-right: 250px;
}

.boxbtnwht a {
  color: #32495b;
  font-weight: 500;
}

.socialbox {
  height: 30px;
  line-height: 30px;
  width: 400px;
  padding-left: 10px;
  margin-top: -100px;
}

.dxdx {
  padding-right: 32px;
}

.socialbox a {
  float: left;
  font-size: 18px;
}

.changelang {
  height: 135px;
  width: 80%;
  margin: auto;
  /* background-color: rgb(230, 112, 148); */
}

.changelang ul {
  text-align: center;
  line-height: 135px;
}

.changelang a:hover {
  color: #7fd1de;
}

.changelang a {
  color: #dadee0;
  padding-right: 30px;
  font-size: 18px;
}

.credits {
  height: 135px;
  width: 80%;
  margin: auto;
  /* padding-top: 35px; */
  border-top: 1px solid white;
  /* background-color: rgb(149, 69, 93); */
}

.creditslogo {
  /* background-color: rgb(138, 109, 227); */
  height: 68px;
  width: 50%;
  line-height: 68px;
  text-align: left;
}

.legalnpriv {
  /* background-color: rgb(138, 109, 227); */
  height: 68px;
  width: 50%;
  line-height: 68px;
  text-align: right;
}

.legalnpriv a:hover {
  color: #7fd1de;
}

.legalnpriv a {
  color: #dadee0;
  padding-left: 30px;
  font-size: 18px;
  font-weight: 500;
}

.copyrightlast {
  height: 67px;
  width: 80%;
  margin: auto;
  /* background-color: red; */
}

.copyrightlast p {
  color: white;
}
